.app-header {

    .main-screen {
        top: 80px;
    }

    // grid-template-columns: 1fr 1fr auto 1fr;
    z-index: 300;
    background-color: $clr6;
    // padding-block-start: 10px;
    grid-template-rows: 1fr;
    height: 80px;
    width: 100%;
    transition: background-color 0.5s;
    background-color: $clr6;
    // margin-block-end: 33px;

    >*:not(last-child) {
        align-self: center;
    }

    .header-content {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding-block-start: 16px;
        padding-block-end: 8px;
    }
    
    &.filter-visible .search-bar {
        opacity: 1;
        visibility: visible;
    }

    .user-info {
        .user-profile-img {
            position: relative;
            cursor: pointer;
            width: 32px;
            height: 32px;
            border-radius: 50%;
        }


    }

    // .user-info .btn-link {
    //     color: $clr2;
    // }



    nav {
        display: flex;
        grid-row: 1;
        justify-self: end;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: center;
        order: 3;

        >* {
            color: $clr5;
            font-family: Macan-semibold;
            font-size: rem(16px);
            line-height: 24px;
            text-decoration: none;
            margin-inline-start: 24px;
            align-self: center;
            white-space: nowrap;
        }

        .user-cred {
            margin: 0;
        }

        .orders-btn {
            font-family: Macan-semibold;
            background: none;
            font-size: rem(16px);
            padding: 0;
            margin: 0;
            color: $clr5;

            &:hover {
                color: $clr1;
            }
        }

        a:hover {
            color: $clr1;
        }

        .join-btn {
            font-family: Macan-semibold;
            background-color: transparent;
            border: 1px solid $clr1;
            border-radius: 4px;
            font-size: 14px;
            padding: 10px 16px;
            line-height: 100%;
            text-align: center;
            color: $clr1;
            margin: 0 0 0 24px;
            transition: background-color .5s ease, border .5s ease;

            &:hover {
                border-color: transparent;
                background-color: darken($clr1, 5%);
                color: $clr6;
            }
        }
    }

    .logo {
        order: 1;
        grid-row: 1;
        color: $clr8;
        width: max-content;
    }

    .search-bar {
        display: none;
        -webkit-font-smoothing: antialiased;

        @include for-normal-layout {
            transition: opacity .25s ease;
            opacity: 0;
            visibility: hidden;

            align-self: center;
            margin-inline: 24px;
            order: 2;
            position: relative;
            grid-row: 1;
            width: 40%;
            display: flex;

            input[type="search"] {
                display: block;
                width: 100%;
                font-size: rem(16px);
                border-radius: 4px 0 0 4px;
                border: solid 1px $grey;
                padding: 10px 2px 10px 16px;
                outline: none;
                height: 42px;
                flex-shrink: 1;
                line-height: 1.6;
                color: $clr5;

                &::placeholder {
                    color: $placeholder-clr;
                    line-height: 24px;
                    font-size: 16px;
                }

                &:focus {
                    border-color: $clr7;
                }
            }

            .search-btn {
                display: inline-block;
                height: 42px;
                background-color: $clr7;
                border-radius: 0px 4px 4px 0px;
                padding: 8px 16px;
                margin: 0;
                flex-shrink: 0;
                transition: 70ms cubic-bezier(.75, 0, .25, 1);
                border: 1px solid transparent;

                svg {
                    fill: $clr6;
                }

                &:hover {
                    background-color: lighten($clr7, 4%);
                }
            }
        }
    }
}

.app-header {
    @include for-narrow-layout {
        &.home-page-top {
            background-color: transparent;

            .join-btn {
                border-color: $clr6;
                color: $clr6;
            }

            a:not(.logo):not(.user-menu-link),
            .orders-btn {
                color: $clr6;
            }

            .orders-btn:hover {
                color: $clr6;
            }
        }
    }
}