.max-price {
    margin-top: 20px;
}

.checkboxes-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.dropdowns {

    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: $break-wide;

    .children-container {
        padding: 1em;

    }

    article {
        margin-inline-end: 0.5em;
    }

    .dropdown-btn {
        border: 1px solid $grey3;
        border-radius: 8px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        color: $clr7;
        line-height: 24px;
        min-height: 48px;
        min-width: 50px;
        padding: 12px 16px;
        padding-inline-end: 28px;
        background-color: $clr6;
        transition: border-color .12s cubic-bezier(.215, .61, .355, 1);
        user-select: none;
        font-size: rem(16px);
        font-family: Macan-semibold;
        white-space: nowrap;
        margin: 0;

        &.open {
            background-color: $grey4;

            span {
                &::after {
                    transform:translate(50%,40%) rotate(-180deg); 
                }
            }
        }

        &:hover {
            border-color: $clr7;
        }

        span {
            &::after {
                position: absolute;
                width: 12px;
                height: 12px;
                background-repeat: no-repeat;
                content: '';
                background-image: url('https://res.cloudinary.com/dqhfnvtca/image/upload/v1686612960/chevron_sjybj9.svg');
                transform:translate(50%,80%);
                transition: all .24s cubic-bezier(.215,.61,.355,1);
            }
        }
    }

}

.fields {
    padding: 1em;
}

.submit-box {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-top: 1px solid $grey;
    margin-top: 10px;
    width: 100%;

    .clear-btn {
        justify-self: start;
        background-color: $clr6;
        color: $clr4;
        border: none;
        line-height: 24px;
        font-size: rem(16px);
        padding: 0;
        margin: 0;
        margin-inline-end: 20px;
        font-family: Macan-semibold;
    }

    .submit-btn {
        background-color: black;
        justify-self: end;
        border: 1px solid transparent;
        border-radius: 4px;
        line-height: 24px;
        font-size: rem(16px);
        font-family: Macan-semibold;
        padding: 12px 24px;
        text-align: center;
        transition: 70ms cubic-bezier(.75, 0, .25, 1);

        &:hover {
            background: #404145;

        }
    }
}