.popular-services-container {
    position: relative;

    img {
        border-radius: 4px;
    }

    .popular-services-txt {
        position: absolute;
        color: white;
        padding: em(16px);
        .preTitle{
            font-size: em(14px);
        }
        .title{
            font-size: em(24px);
            font-weight: 700;
        }

    }
}