.login-page {
    // z-index: 9999;
    background-color: white;

    // display: flex;
    // justify-content: center;
    // position: absolute;
    // align-content: center;
    // top: 0;
    // right: 50%;
    @include for-normal-layout {
        max-height: 90vh;
        max-width: 600px;
        border-radius: 4px;
        bottom: auto;
        left: auto;
        position: relative;
        right: auto;
        top: auto;
    }

    .signup-section {
        border-radius: 4px;
        padding: 1em;
        // z-index: 9999;


        .signup-form {
            padding: 0 36px 24px;
            width: 400px;
            // position: relative;

            .join-fiverr {
                padding-block: 2em;
            }
        }


    }



}