.order-details {
    display: flex;
    flex-direction: row;
    justify-content: center;

    top: 0px;
    padding-bottom: 32px;
    font-family: Macan-semibold;

    .order-information-summery {
        display: flex;
        flex-direction: column;
        margin: 0 5.5em;
        border: 1px solid #dadbdd;
        border-radius: 0.25em;
        background-color: $white;
        width: 23.56em;
        padding: 1em 1.5em;
        color: $clr5;
        height: 30em;
        
        &>* {
            margin-inline-start: 1em;
        }

        .header-order-wrapper {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-bottom: 4px;
            border-bottom: 1px solid #eee;
            padding-bottom: 1em;

            img {
                max-width: 100px;
                object-fit: contain;
                border-radius: 0.25em;
                margin-right: 1em;
            }

            p {
                line-height: 1.4;
                font-size: rem(16px);
            }
        }
        .gig-owner-fullname{
            padding-block: 1em;
        }

        .order-items-wrapper{
            li{
                font-family: Macan-light;
                line-height: 140%;
                color:$clr5;
                padding-block-end: 0.375em;
            }

            svg {
                fill: #02c2a9;
                margin-inline-end: 0.75em
            }
        }

        .total-payment-wrapper,
        .totel-dalivery-time{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: 0.375em;
        }

        .totel-delivery-time{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-block: 0.375em;

            p{
                font-family: Macan-light;
            }
        }

        .btn-pay {
            background-color: $clr7;
            font-size: rem(16px);
            margin-block-start: 1.5em;
            padding: 12px 24px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .ssl-secure{
            display: flex;
            align-content: center;
            justify-content: center;

            p{
                line-height: 22px;
                color: #62646a;
                font-family: Macan-light;
                font-size: rem(16px);
                text-align: center;

                &::before {
                    content: '';
                    background-image: url('https://res.cloudinary.com/dm4cdho4d/image/upload/v1685977214/flairr/svg/icons8-lock_sbr5kt.svg');
                    width: 16px;
                    height: 16px;
                    display: inline-block;
                    background-size: 100%;
                    background-repeat: no-repeat;
                    margin-inline-end: 0.5em;
                    margin-block-end: -0.5px;
                }

            }

        }
    }
}
