.seller-dashboard {
    display: flex;
    text-align: center;
    font-family: Macan-semibold;
    justify-content: space-between;
    // gap: 1.5em;
    
    @include for-normal-layout{
        justify-content: space-evenly;
        
    }

    .total-income{
        p:first-child{
            font-size: rem(16px);
        }
        p:last-child{
            margin-block-start: 1em;
        }
        @include for-normal-layout{
            p:first-child{
                margin-block-end: 1em;
            }
            p:last-child{
                margin-block-start: 1.5em;
                font-family: Macan;
            }
        }
    }

    .progress-wrapper-pending,
    .progress-wrapper-approved,
    .progress-wrapper-declined,
    .progress-wrapper-completed
    {
        width: 70px;
        height: 70px;

        @include for-normal-layout {
            width: 100px;
            height: 100px;
        }
        
        p{
            margin-block-end: 0.5em;
            font-size: rem(14px);

            @include for-normal-layout{
                font-size: rem(16px);
                
            }
        }

    }
}