.gig-edit {

    background-color: $grey2;
    width: 100%;
    
    input , .description-input {
        outline: none;
        border: 1px solid $grey1;
        &:focus {
            border-color: $clr1;
        }
    }
    
    .gig-edit-form {
        @include generic-form;

        .description-input {
            resize: none;
        }

        .category-label {
            width: 150px;
        }
        .category-select {
            option {
                font-family: Macan-regular;
            }
        }

        .tags-select {
            width: 100%;
            display: flex;
            flex-direction: column;
            label:first-of-type {
                width: max-content;
                
            }
            
            .tags-checkboxes {
                border: 2px solid $white1;
                background-color: #fff;
                padding: 1em;
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fill, 12em );
                grid-auto-flow: dense;
                
                label {
                    font-family: Macan-light;
                    justify-self: start;
                    text-align: start;
                    display: block;
                }
            }
        }

        .packages-container {
            width: 100%;
            justify-items: center;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3,1ft);
            @include for-normal-layout {
                padding: 2em;
                grid-template-rows: 1fr;
                grid-template-columns: repeat(3,1fr);
            }

            h6 {
                font-size: 1em;
                text-align: center;
            }

            article {
                border: 2px solid $grey;
                background-color: $white;
                margin-block: 1em;
                padding: 1em;
            }
        }
    }

}