.user-details {
    background-color: #f7f7f7;
    // background-color: blueviolet;
    // grid-template-columns: 1fr;

    // @include for-normal-layout{
    //     grid-template-columns: 32px 1fr 32px;
    // }

    .user-details-content {
        margin-block: 1em;
        display: grid;
        grid-template-columns: 1fr;
    

        @include for-normal-layout {
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr 1fr;
            gap: 20px;
        }
    }

    article {
        background-color: $clr6;
        border: 1px solid #ddd;
        padding: 1em;
        border-radius: 2px;
        grid-column: 1;
    }

    .user-info {
        grid-row: 1;
        justify-content: center;
        text-align: center;

        .user-img {
            margin-inline: auto;
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background-size: contain;
            background-repeat: no-repeat;
        }

        .name-username {
            margin-inline: auto;
            margin-block-end: 2em;

            h3 {
                color: $clr7;
                font-size: 20px;
                line-height: 28px;
            }

            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    .user-description {
        grid-row: 2;

        @include for-normal-layout {
            grid-column: 1;
        }
    }

    .user-action {
        grid-row: 3;
        @include for-normal-layout {
            grid-column: 2;
            grid-row: 1/ -1;

        }
        height: 100%;
        align-self: start;

        .seller-dashboard-wrapper{
            border: 1px solid $grey2;
            // padding-block: 0.5em;
        }

        .not-seller-action {
            width: 100%;
            padding: 128px 0 120px;
            text-align: center;

            .img-wrapper {
                width: 252px;
                height: 104px;
                margin-inline: auto;
                margin-block-end: 1em;
            }

            h3 {
                margin-block-end: 1em;
            }

            a {
                @include btn1($clr1);
                width: max-content;
                margin-inline: auto;
            }
        }
    }
}

