.user-details {
background-color: $grey2;
    .article {
        background-color: $clr6;
    }

    .user-img {
        height: 150px;
        width: 150px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}