.gig-details-main {
   
    .top-nav-container {
        // border: 1px solid #62646a;
        position: sticky;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 50;
        backface-visibility: hidden;
        border-bottom: 1px solid #dadbdd;
        border-top: 1px solid #dadbdd;

        background-color: #ffff;

        nav {
            display: flex;
            align-items: center;
            padding-bottom: 0;
            padding-top: 0;
            box-sizing: border-box;
            position: relative;

            //mq for screen min-width 1160px
            margin: 0 auto;
            max-width: 1400px;

            a {
                font-size: rem(14px);
                padding-inline-end: 1em;
                // padding-block: ;
                text-decoration: none;
                color: #95979d;
                display: inline-block;
                // font-size: 14px;
                font-weight: 600;
                line-height: 53px;

                transition: color .2s;

                //active??
                &.selected {
                    color: #222325;
                }
            }
        }
    }

    .gig-details-content {
        display: flex;
        flex: 1fr 1fr; 
        flex-wrap: wrap;
        padding: 3% 5% ;
      
    
        .gig-details-container {
            margin-right: 8%;
            width: 57.42%;

            h1 {
                color: #404145;
                font-size: rem(28px);
                font-family: Macan-bold;
                line-height: 130%;
                // padding-block-end: 1em;
                margin-block-end: 0.67em;
                letter-spacing: 0.2px;
                overflow-wrap: break-word;
            }

            .main-details-container {
                display: flex;
                align-items: center;
                flex-direction: row;
                justify-content: flex-start;
                margin-block-end: 24px;

                font-family: Macan;

                .user-round-img {
                    height:30px ;
                    width: 30px;
                    border-radius: 50%;
                    border: 1px solid $clr1;
                    background-color: orange;
                    margin-inline-end: 1em;
                }
                .details-wrapper {
                    display: flex;
                    flex-wrap: wrap;

                    h2 {
                        color: #404145;
                        margin: 0;
    
                        padding-inline: 0em 0.625em;
                        font-size: rem(18px);
                        line-height: 1.44;
                        letter-spacing: 0.01px;
                    }
    
                    p {
                        margin: 0;
                        font-size: rem(14px);
                    }
    
                    .gig-email,
                    .gig-orders {
                        color: $clr4;
                        letter-spacing: 0.4px;
                        padding-inline-end: 0.5em;
                    }
    
                    .gig-level {
                        color: $clr5;
                        padding-inline-end: 8px;
    
                        span {
                            color: $clr4;
                        }
                    }

                    .gig-rate {
                        color: $clr5;
                        padding-inline-end: 8px;
                        
                        color: $clr4;
                        span {
                            color: #ffb33e;
                            font-family: Macan-bold;
                        }
    
                    }

                }

                

               

            }

            .img-container {
                // width: 714px;
                background-color: whitesmoke;
                display: flex;
                justify-content: center;

                img {
                    width: 94%;
                    // border: 1px solid #404145 ;
                }
            }

            .about-gig-container {
                color: #404145;

                h3 {
                    font-family: Macan-semibold;
                    font-size: rem(20px);
                    padding: 25px 0px 25px;
                }

                p {
                    color: #62646a;
                    font-size: rem(16px);
                }
            }
        }

        .pricing-container {
            //for min 1160 screen 
            width: 33.6%;
            // border: 1px solid #dadbdd;
            // margin-block-start: 32px;
        }
    }


}