.gig-details {
    margin-right: 9.15%;
    width: 57.42%;

    h1 {
        color: #404145;
        font-size: rem(28px);
        font-family: Macan-bold;
        line-height: 130%;
        // padding-block-end: 1em;
        margin-block: 0.67em;
        letter-spacing: 0.2px;
        overflow-wrap: break-word;
    }

    .main-details-container {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;
        margin-block-end: 24px;

        font-family: Macan;

        .user-round-img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 1px solid $clr1;
            background-color: orange;
        }

        h2 {
            color: #404145;
            margin: 0;

            padding-inline: 26px 10px;
            font-size: rem(18px);
            line-height: 1.44;
            letter-spacing: 0.4px;
        }

        p{
            margin: 0;
            font-size: rem(14px);
        }

        .gig-email,
        .gig-orders{
            color:$clr4;
            letter-spacing: 0.4px;
            padding-inline-end: 8px;
        }

        .gig-level {
            color: $clr5;
            padding-inline-end: 8px;
            span{
                color: $clr4;
            }
        }

        .gig-rate {
            color: $clr5;
            padding-inline-end: 8px;
            color: #ffb33e;

            span{
                // color: #ffb33e;
                font-family: Macan-bold;            }

        }

    }

    .img-container {
        width: 714px;
        background-color: whitesmoke;
        display: flex;
        justify-content: center;

        img{
            width: 94%;
            // border: 1px solid #404145 ;
        }
    }

    .about-gig-container{
        color: #404145;

        h3{
            font-family: Macan-semibold;
            font-size: rem(20px);
            padding: 25px 0px 25px;
        }

        p{
            color: #62646a;
            font-size: rem(16px);
        }
    }


}