.home-page {
    top: 0;
    margin: 0;

    .popular-services {
        margin-top: $hero-height;

        .carousel-wrapper {
            width: 100%;
            background-color: lightgreen;
            margin: 0;
        }

    }

    .info-wrapper {
        background-color: $clr9;
        padding-inline-end: 0;

        .info {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding-block: 64px;

            @include for-normal-layout {
                flex-direction: row;
            }

            .img-wrapper {
                align-self: center;
                justify-self: flex-end;
                
                @include for-normal-layout {
                    margin-inline-start: 50px;

                }

                .img {
                    aspect-ratio: 5/3;
                    align-self: stretch;
                    object-fit: cover;
                }
            }

            .info-text {
                color: $clr8;
                padding-block-end: 48px;
                // padding: 0 16px;
                padding-right: 11%;
                
                @include for-normal-layout {
                    max-width: 46.66667%;
                }

                h2 {
                    font-family: Macan-semibold;
                    padding-bottom: 24px;
                    font-size: 32px;
                    line-height: 120%;

                    span {
                        font-family: Helvetica;
                    }
                }

                h6 {
                    padding-block-end: 8px;
                    line-height: 140%;
                    font-size: 18px;

                    &::before {
                        content: '';
                        background-image: url('https://res.cloudinary.com/dqhfnvtca/image/upload/v1685744297/flairr/svg_xml_base64_PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOCAxLjc1QzQuNTQ4MjIgMS43NSAxLjc1IDQuNTQ4MjIgMS43NSA4QzEuNzUgMTEuNDUxOCA0LjU0_hrpreb.svg');
                        width: 24px;
                        height: 24px;
                        display: inline-block;
                        background-size: 24px 24px;
                        background-repeat: no-repeat;
                        margin-inline-end: 0.5em;
                        margin-block-end: -0.3em;

                    }
                }

                p {
                    text-align: start;
                    padding-block-end: 24px;
                    color: $clr5;
                    font-size: 18px;
                    line-height: 26px;

                }
            }
        }
    }

    .suddenly-doable {
        // opacity: 0;
        padding: 48px 24px;
        background-color: #45091b;
        background-image: url('https://res.cloudinary.com/dqhfnvtca/image/upload/v1685858418/flairr/bg-signup-1400-x1_fcnje3.png');
        background-position: cover;
        background-position-y:center;
        display: flex;
        // flex-direction: column;
        overflow: hidden;
        position: relative;
        margin: 0 auto 24px;
        width: 100%;
        border-radius: 4px;
        height: 260px;
        // justify-content: center;
        
        @include for-normal-layout {
            padding: 64px 32px;
            height: 380px;
        }
        
        
        .signup-text {
            align-self: start;
            margin-block: auto;
        }

        h2 {
            color: $clr6;
            font-family: Macan-bold;
            line-height: 48px;
            font-weight: 700;
            padding-block-end: 40px;
            font-size: 32px;
            justify-self: center;
            
            @include for-normal-layout {
                font-size: 40px;

            }

            span {
                font-family: DomaineDisplay;
            }
        }

        button {
            font-family: Macan;
            border: 1px solid transparent;
            background-color: $clr1;
            border-radius: 4px;
            font-size: em(16px);
            font-weight: 600;
            line-height: 100%;
            padding: 12px 24px;
            position: relative;
            text-align: center;
            width: max-content;

            &:hover {
                background-color: darken($clr1, 5%);
            }
        }

    }

}