img {
    border-radius: 10px;
}

.my-control {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    user-select: none;
    cursor: pointer;

    &-next {
        right: 20px;
        transition: all 0.35s;

    }

    &-prev {
        left: 20px;
        transition: all 0.35s;

    }
}

.my-arrow {
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    // border: 1px solid black;
    border-radius: 50%;
    transition: all 0.5s;

    &:hover {
       
    }
}

.hide-to-right {
    right: -32px;
    transition: all 0.35s;
}

.hide-to-left {
    left: -32px;
    transition: all 0.35s;
}