.logo {
    font-family: Macan-bold;
    font-weight: 1000;
    font-size: 2rem;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: none;
        }
    }

    .dot {
        color: $clr1;
    }

    .rr {
        letter-spacing: -0.1em;
    }

}