.pricing-package {
    position: sticky;
    border: 1px solid #dadbdd;
    top: 100px;
    padding-bottom: 32px;
    font-family: Macan-semibold;

    nav {
        display: flex;

        a {
            text-decoration: none;
            color: #74767e;
            border-right: 1px solid #dadbdd;
            border-bottom: 1px solid #dadbdd;
            background-color: #fafafa;
            font-size: rem(16px);
            font-weight: 700;
            padding: 1em;
            text-align: center;
            flex: 1 1;
        }

        // a:checked{
        //     background-color: #fff;
        //     border-bottom: 3px solid #1dbf73;
        //     color: #1dbf73;
        // }

    }

    .pricing-details {
        display: flex;
        flex-direction: column;
        font-family: Macan-light;
        margin-inline: 1.5em;

        &>* {
            word-break: break-word;
        }

        h1 {
            font-family: Macan-semibold;
            margin-block: 32px 2px;
            
            color: #404145;
            font-size: rem(24px);
            line-height: 1em;
            word-break: break-word;
        }

        p {
            font-size: rem(16px);
            color: #404145;
            word-break: break-word;
            margin-block-start: 0.125em;
        }

        .brand-fundamental-container {
            margin-block: 24px 10px;

            p {
                font-family: Macan-semibold;
                color: #62646a;
                font-size: rem(16px);

                span {
                    font-family: Macan;
                    color: #62646a;
                    font-size: rem(14px);
                    word-break: break-word;
                }
            }
        }

        .delivery-info-container {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: rem(14px);
            font-family: Macan-semibold;
            color: #62646a;
            margin-block-end: 20px;

            svg {
                fill: #62646a;
                margin-inline-end: 1em;
            }

            p{
                color: #62646a;
                font-size: rem(16px);
                font-family: Macan-semibold;



                &.delivery-days-item {
                    margin-inline-end: 1em;
                }
            }

            
        }

        .collapsible-container {
            font-size: rem(14px);

            h4 {
                font-family: Macan-bold;
                color: $clr5;
                margin-block-end: 1em;

            }

            .collapsible-content {
                li {
                    color: #95979d;
                    padding-block:0.375em ;
                }

                svg {
                    fill: #02c2a9;
                    margin-inline-end: 0.75em
                }
            }
        }

        .btn-continue {
            background-color: $black;
            font-size: rem(16px);
            margin-block-start: 1.5em;
            padding: 12px 24px;
            border: 1px solid transparent;
            border-radius: 0.25em;

            &::after {
                content: url('https://res.cloudinary.com/dqhfnvtca/image/upload/v1685980291/flairr/arrow-white_lyifpf.svg');
                width: 18px;
                height: 18px;
                position: absolute;
                display: inline-block;
                margin-inline-start: 6em;
            }
        }
    }
}