// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }
}

//position helpers

.fixed {
    position: fixed;
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

//darken the screen
.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    pointer-events: none;
    z-index: 310;
    opacity: 0;
    transition: opacity 0.6s;

    &.isOpen {
        pointer-events: auto;
        opacity: 1;
    }

}

// forms
.btns-container {
    width: max-content;
    margin-inline: auto;
    display: flex;
    button {
        display: inline-block;
        @include btn1($clr1);
        white-space: nowrap;
        &.back-btn {
            @include btn1($clr8);
        }
    }
}


//text 

.bold {
    font-family: Macan-semibold;
}
.light {
    font-family: Macan-light;
}