* {
    box-sizing: border-box;
}

html {
    font-family: Macan;
    line-height: 1.6;
    color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
    min-height: 100vh;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Macan;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

p {
    margin: 0 0 1em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}