* {
    box-sizing: border-box;
}

html {
    font-family: Macan;
    line-height: 1.6;
    color: $clr7;
    -webkit-font-smoothing: antialiased;
}

body {
    font-size: rem(18px);
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Macan;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

ul,
li {
    padding: 0;
    margin: 0;
    list-style: none;
}

button {
    cursor: pointer;
}

input,
select,
textarea {
    font: inherit;
    -webkit-font-smoothing: antialiased;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    cursor: pointer;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-image: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/clear_button_sprite.75ff164.svg);
    background-position: 0 0;
}