
@font-face {
    font-family: DomaineDisplay;
    src: url(../../font/DomaineDisplay/DomaineDispNar-MediumItalic.otf);
}

@font-face {
    font-family: Macan;
    src: url(../../font/macan/Macan-Regular.ttf);
}
