
@font-face {
    font-family: DomaineDisplay;
    src: url(../../font/DomaineDisplay/DomaineDispNar-MediumItalic.otf);
}

@font-face {
    font-family: Macan;
    src: url(../../font/macan/Macan-Regular.ttf);
}

@font-face {
    font-family: Macan-semibold;
    src: url(../../font/macan/MacanPanWeb-Semibold.ttf);
}

@font-face {
    font-family: Macan-bold;
    src: url(../../font/macan/MacanPanWeb-Bold.ttf);
}

