// Colors
$clr1: #1dbf73;
$clr2: #446ee7;
$clr3: #1e1692;
$clr4: #74767e;
$clr5: #62646a;
$clr6: #fff;
$clr7: #222325;


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;