// Colors
$clr1: #1dbf73;
$clr2: #446ee7;
$clr3: #1e1692;
$clr4: #74767e;
$clr5: #62646a;
$clr6: #fff;
$clr7: #222325;

// LAYOUT
$layoutPadding: 32px;

// LAYOUT BREAKPOINTS
$break-narrow: 350px;
$break-normal: 827px;
$break-wide: 1400px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;

// SIZES
$hero-height: 680px;

