/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $padded-break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $padded-break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $padded-break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $padded-break-wide) {
    @content;
  }
}

// @mixin layoutGTC($max) {
//   grid-template-columns:
//     minmax($layoutPadding) minmax(auto, $max) minmax($layoutPadding);
// }

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }

  >* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  >img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}


// buttons
@mixin btn1($color) {
  font-family: Macan-semibold;
  background-color: transparent;
  border: 1px solid $color;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 16px;
  line-height: 100%;
  text-align: center;
  color: $color;
  margin: 0 0 0 24px;
  transition: background-color .5s ease, border .5s ease;

  &:hover {
    border-color: transparent;
    background-color: darken($color, 5%);
    color: $clr6;
  }
}

@mixin btn2 {
  font-family: Macan;
  border: 1px solid transparent;
  background-color: $clr1;
  border-radius: 4px;
  font-size: em(16px);
  font-weight: 600;
  line-height: 100%;
  padding: 12px 24px;
  position: relative;
  text-align: center;
  width: max-content;
}

//forms 

@mixin generic-form {
  background-color: $clr6;
  margin-top: 1em;
  padding: 30px;
  border: 1px solid $grey1;

  .error {
    color: rgba($clrRejected, 0.7);
    font-size: 0.8em;
    align-self: end;
  }

  h3 {
    width: 100%;
    margin-block-start: 1.5em;
    border-top: 1px solid $grey;
  }

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    white-space: nowrap;
    margin-inline-end: 2em;
  }
}

@mixin checkbox-form {
  border: 2px solid $white1;
  background-color: &clr6;
  padding: 1em;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12em);
  grid-auto-flow: dense;

  label {
    font-family: Macan-light;
    justify-self: start;
    text-align: start;
    display: block;
  }
}