/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $padded-break-narrow) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $padded-break-narrow) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $padded-break-normal) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $padded-break-wide) {
    @content;
  }
}

// @mixin layoutGTC($max) {
//   grid-template-columns:
//     minmax($layoutPadding) minmax(auto, $max) minmax($layoutPadding);
// }

/* Media  Mixins */
@mixin aspect-ratio($width, $height) {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    content: "";
    width: 100%;
    padding-top: calc(($height / $width) * 100%);
  }

  >* {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  >img {
    height: 100%;
    object-fit: cover;
  }
}

// Mixin for removing hover efects on iphone screen
@mixin hover-supported {
  @media not all and (pointer: coarse) {
    &:hover {
      @content;
    }
  }
}


// buttons
@mixin btn1($color) {
  font-family: Macan-semibold;
  background-color: transparent;
  border: 1px solid $color;
  border-radius: 4px;
  font-size: 14px;
  padding: 10px 16px;
  line-height: 100%;
  text-align: center;
  color: $color;
  margin: 0 0 0 24px;
  transition: background-color .5s ease, border .5s ease;

  &:hover {
    border-color: transparent;
    background-color: darken($color, 5%);
    color: $clr6;
  }
}